body{
    width: 90%;
    max-width: 900px;
    margin: auto;
    background-color: rgba(0, 255, 255, 0.589);
}

h1{
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
main{
    display: grid;
    grid-template-areas:
    "h h h"
    "a a j"
    ;
    background-color: white;
}
header{
    grid-area: h;
}
aside{
    grid-area: j;
}
article{
    grid-area: a;
}
footer p{
    text-align: center;
}
table, td, th {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
@media screen and (max-width: 600px) {
    main {
        grid-template-areas: 
            "h"
            "j"
            "a"
            "f"
      ;
    }
  }